@model IEnumerable<WebAppTutoriaL.Models.Trip>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h1>Welcome to the webUpTutorial</h1>
        <p>This app will allow to plan your trips</p>
        <a asp-controller="App" asp-action="trips" class="btn btn-lg btn-success">View my Trips</a>
    </div>
</div>